##### Q1) Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1='This is a test of the emergency test system'
print(test1)
with open ('test.text','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency test system

In [2]:
!type test.text

This is a test of the emergency test system

#### Q2) Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt','r') as file:
    test2=file.read()
print(test2)
print(test1==test2)

test1='This is a test of the emergency test system',
print(test1)


False

In [4]:
with open('test.txt','r') as file:
     test1=file.read()
     print(test1)
     print(test1==test2)

test1='This is a test of the emergency test system',
print(test1)


True

##### Q3) Create a CSV file called book.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [7]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
with open('book1.csv','w') as file:
    file.write(data)

#### Q4)  Use the sqlite3 module to create a SQLite database called book.db, and a table called book with these fields: title (text), author (text), and year (integer).

In [8]:
import sqlite3
db=sqlite3.connect('book1.db')
cursor=db.cursor()
cursor.execute("CREATE TABLE book1(title text, author text, year int)")
db.commit()
db.close()

#### Q5) 5. Read books4.csv and insert its data into the book table.

In [10]:
import sqlite3
import csv
conn = sqlite3.connect("book1.db")
cursor = conn.cursor()
with open("book1.csv","r") as file:
    book1 = csv.DictReader(file)
    for book in book1:
        cursor.execute("INSERT INTO book1 VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

#### Q6) Select and print the title column from the book table in alphabetical order.

In [11]:
import sqlite3
conn = sqlite3.connect('book1.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM book1 ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### Q7) From the book table, select and print all columns in the order of publication.

In [12]:
import sqlite3
conn = sqlite3.connect('book1.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM book1 ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### Q8) Use the sqlalchemy module to connect to the sqlite3 database book.db that you just made in exercise 6.

In [13]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///book.db')
conn

Engine(sqlite:///book.db)

#### Q9)  Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [14]:
! python -m pip install redis

Requirement already satisfied: redis in e:\backup 22-03-2021\desktop\lib\site-packages (4.3.3)
Requirement already satisfied: deprecated>=1.2.3 in e:\backup 22-03-2021\desktop\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in e:\backup 22-03-2021\desktop\lib\site-packages (from redis) (21.0)
Requirement already satisfied: async-timeout>=4.0.2 in e:\backup 22-03-2021\desktop\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: wrapt<2,>=1.10 in e:\backup 22-03-2021\desktop\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in e:\backup 22-03-2021\desktop\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

#### Q10) Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')